alias cls='clear'
alias d='docker'
alias tmux="TERM=screen-256color-bce tmux"
# git aliases
alias nah='git reset --hard HEAD'
alias untar='tar -xvzf '
# files
alias e="exit"
alias work="cd ~/work"
alias rm="rm -rf"
alias npmif="npm i --prefer-offline"
alias cat="rich"
alias ls="lsd"
alias h="howdoi"
alias c="code ."
alias mkdir='f() { mkdir -p $1 && cd $_};f'
